<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/delete_confirm.css' %}">
</head>
<body>
    <h1>Warning!........Warning!........Warning!........Warning!........Warning!</h1>
    <h1>( Code Red )</h1>
    <h2>You are about to <span style="color: red; text-transform: uppercase;">delete</span> {{art.caption}}.  Are you sure?</h2>
    <div class="btn">
        <button class="no"><a href="/home" style="text-decoration: none;">No, I change my mind.  I can't do it.  Someone save me....</a></button>
        <button class="yes"><a href="/deleting-art/{{art.id}}" style="text-decoration: none;">Yes,  Delete this from the universe!! HAHAHHA</a></button>
    </div>
    <h1>( Code Red )</h1>
    <h1>Warning!........Warning!........Warning!........Warning!........Warning!</h1>
    
</body>
</html>