<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/home">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <img src="" alt="Profile Pic">
            <button type="submit">New Profile Pic</button>
        </div>
        <div>
            <form action="/edit_account/{{user.id}}" method="POST">
                {% csrf_token %}
                <p>First Name <input type="text" name="first_name" value={{user.first_name}}></p>
                <p>Last Name <input type="text" name="last_name" value={{user.last_name}}></p>
                <p>Username <input type="text" name="username" value={{user.username}}></p>
                <p>Quote <input type="text" name="quote" value={{user.quote}}></p>
                <p>Email <input type="text" name="email" value={{user.email}}></p>
                <button type="submit">Submit Changes</button>
            </form>
        </div>
    </div>
</body>
</html>