<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gallery</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>
    <ul id="nav-list" >
        <li id="nav"><a href="/logout">Logout</a></li>
        <li id="nav"><a href="/home">Home</a></li>
    </ul>
    <div>
        <h1>{{user.first_name}}'s' Gallery</h1>
    </div>
    {% for i in user.users_art.all %}
    <div class="images">
        <img src="{{i.art_image.url}}" width="250" height="300" alt="{{i.caption}}"><br><p><a href="/art-profile{{i.id}}" >"{{i.caption}}"</a></p></img>
    </div>
    {% endfor %}
    <script src='main.js'></script>
</body>
</html>