<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/hall_of_fame.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="nav-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/collaborators">Collaborators</a></li>
                <li class="push" ><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <iframe title="Blank" src="https://googleads.g.doubleclick.net/xbbe/pixel?d=CL2fDBDK-duyAhir_tegATAB&amp;v=APEucNX2xyzG6hSBbVDSVOS3PMxCg4YFkEA2DZ0jwGfGRvBAZSralB-2l2UCQMU-yYEyy2XK6zCrmxPxqbk8Z7OPRRlcMexrGhFH6CNwgDT3YDAKt_MnlMA" style="display:none" aria-hidden="true"></iframe>
        <div class="main">
            <div class="header">
                <h1>HALL OF FAME</h1>
            </div>
            <div id="hall_of_fame">
                <div class="hof_card" id="card-2">
                    <div class="card-title"><h1>2ND</h1></div>
                    <div class="artwork" id="second-place-art">Artwork goes here</div>
                    <div class="card-detail">
                        <a href="">Likes: ##</a>
                        <a href="">Username</a>
                    </div>
                </div>
                <div class="hof_card" id="card-1">
                    <div class="card-title"><h1>1ST</h1></div>
                    <div class="artwork" id="first-place-art">Artwork goes here</div>
                    <div class="card-detail">
                        <a href="">Likes: ##</a>
                        <a href="">Username</a>
                        "User quote"
                    </div>
                </div>
                <div class="hof_card" id="card-3">
                    <div class="card-title"><h1>3RD</h1></div>
                    <div class="artwork" id="third-place-art">Artwork goes here</div>
                    <div class="card-detail">
                        <a href="">Likes: ##</a>
                        <a href="">Username</a>
                    </div>
                </div>
            </div>
        </div>
        <script src='main.js'></script>
    </div>
</body>
</html>