<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/hall_of_fame.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="nav-bar">
            <a href="/">Home</a> <a href="/logout">Logout</a>
            <h1>Hall of Fame</h1>
        </div>
        <div class="main">
            <div id="hall_of_fame">
                <div class="hof_card" id="card-1"></div>
                <div class="hof_card" id="card-2"></div>
                <div class="hof_card" id="card-3"></div>
            
            </div>
        </div>
        <script src='main.js'></script>
    </div>
</body>
</html>