<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/user_profile/{{user.id}}">{{user.first_name}}</a></li>
    </ul>
    <!-- <a href="/logout">Logout</a>
    <a href="/gallery">gallery page</a>
    <a href="/arena">arena page</a>
    <a href="/user_profile">My Profile</a> -->
    <h1>This is the home page</h1>
    <h2>{{i.username}}</h2>
    <img class="p-pic" src="{{user.profile_pic.url}}" + {{user.profile_pic}} alt="{{ user.username }}" width="300" height="400">
    <script src='main.js'></script>
</body>
</html>