<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ArtOff Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div id="home_wrapper">
        <div class="a_links">
            <a href="/user_profile/{{user.id}}" style="color: darkgray;">{{user.first_name}}'s Profile</a>  |  <a href="/arena" style="color: darkgray;">Arena Page</a>  |  <a href="/logout" style="color: darkgray;">Logout</a>
        </div>
        <!-- link tag here -->
        <!--<h2 class="home_h2">Todays Lead is <a href=""></a>{{user.username}}</h2> ## Hall of Fame fly-by  -->
        <div class="main">
            <div class="top">
                <div class="gallery-showcase">
                    <div class="artwork-header">
                        <h1>Recently Uploaded</h1>
                    </div>
                    <div class="artwork">
                        {% for art in user_art %}
                        <div class="gallery-art">
                            <a href="/art-profile/{{art.id}}"><img src="{{art.art_image.url}}" alt="{{user.first_name}}" width="300" class="anImage"></a>
                            <p>By: <a href="/user_profile/{{art.artist.id}}">{{art.artist.username}}</a>  |  Likes: {{art.likes.all.count}} <form action="user-likes/{{art.id}}" id="likes" method="POST">
                                {% csrf_token %} <input type="submit" value="Like!"></form></p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="uploadArt">
                        <!-- This is a form to create art/upload art -->
                        <h3 class="home_h3">Upload Art</h3>
                        <form action="/create_art" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" required placeholder="Caption" name="caption">
                            <input type="file" required name="art_image" class="caption">
                            <button type="submit" class="artUpload_btn">Upload Art</button>
                        </form>
                    </div>
                    <div class="activity">
                        <h1>activity</h1>
                    </div>
                </div>
            </div>
        </div>
            <script src='main.js'></script>
        </body>

</html>