<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artOff</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <div id="landing">
        <div class="title">
            <h1>ArtOff</h1>
            <h3>Where art faces off</h3>
        </div>
        <div class="log_link">
            <h4>User login</h4>
            <button><a href="/login_page" class="main-links">Login</a></button>
            <form action="/login_page">
            <input type="submit" value="Login"></form>
        </div>
        <div class="reg_link">
            <h4>New user registration</h4>
            <button><a href="/register_page" class="main-links">Register</a></button>
        </div>
        <div class="hof">
            <h4>To the Hall Of Fame</h4>
            <button><a href="/hall_of_fame_page" class="main-links">Hall Of Fame</a></button>
        </div>
        <script src='main.js'></script>
    </div>
</body>
</html>