<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtOff Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="error-msg">
        {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if messages.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <h1>Login</h1>
    <div>
        <div class="login-form">
            <form action="/login" method="POST">
                {% csrf_token %}
                <div class="field" >
                    <label class="email-push" for="username">UserName:</label>
                    <input type="username" name="username">
                <div class="field" >
                    <label class="pass-label" for="password">Password:</label>
                    <input type="password" name="password" value="Password Here" >
                </div>
                <div>
                    <button type="submit">login</button>
                </div>
            </form>
            <p>Dont have an account?<a href="/register_page"> Register Here</a></p>
        </div>
    </div>
</body>
</html>