<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtOff Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

    <div id="login-wrapper">
        <div class="login-form">
            <h1>ArtOff</h1>
            <div class="error-msg">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if messages.tags %} class="{{ message.tags }}" style="color: white;" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form action="/login" method="POST">
                {% csrf_token %}
                <!-- <label class="email-push" for="username">UserName</label> -->
                <input type="username" name="username" class="login-input" placeholder="Username">
                <!-- <label class="pass-label" for="password">Password</label> -->
                <input type="password" name="password" class="login-input" placeholder="Password">
                <button type="submit" class="btn-login">login</button>
            </form>
            <br>
            <p>Dont have an account?</p>
            >> <a href="/register_page" style="color: white;"> Register Here</a> <<
        </div>
        
    </div>
</body>

</html>