<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/edit_profile_page">Edit Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="user-info">
        <h1>{{profile.first_name}}'s Profile</h1>
        <!-- <p>{{profile.qoute}}</p> -->
        <p class="qoute">"This is where we will out the qoute"</p>
    </div>
    <div class="comment-box">
        <div class="new-comment">
            <p class="posted-comment" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis et porro distinctio animi corrupti quas quo expedita, eos illo adipisci necessitatibus, deserunt nesciunt quisquam, ipsa molestiae. Ea facere perferendis libero. Illum dolore, hic aperiam consectetur soluta praesentium a magni quidem unde necessitatibus natus inventore. Autem.</p>
        </div>
    </div>
    <h2>Best Image</h2>
    <div class="best-image">
        <img class="image-holder" src="{% static 'images\placeholder.png' %}" width="200" height="200">
        <div class="image-gallery">
            <a href="/gallery">Gallery</a>
        </div>
    </div>
    <script src='main.js'></script>
</body>
</html>