<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <a href="/home">Back</a
    <h1>Welcome Back {{profile.first_name}}</h1>
    <div>
        {% for i in profile.users_art.all %}
            <img src="{{i.art_image.url}}" width="100" height="100">
        {% endfor %}
    </div>
    <script src='main.js'></script>
</body>
</html>