* {
    background-color: black;
    margin: 0;
    padding: 0;
}

div.navbar{
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    margin-right: 20px;
}

a {
    margin-top: 10px;
    margin-right: 20px;
    color: white;
}

.container {
    background-color: black;
}

.arts {
    background-color: black;
    padding: 20px;
}

.arena_art {
    border: 2px solid white;
    margin: 20px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}