div.navbar{
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    margin-right: 20px;
}

a {
    margin-top: 10px;
    margin-right: 20px;
}

.container {
    background-color: black;
}

.arts {
    background-color: black;
    padding: 20px;
}

.arena_art {
    border: 2px solid white;
}
