#container {
    background-color: black;
    padding-bottom: 30px;
}

.links {
    margin: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

a {
    color: yellow;
}

h5 {
    color: yellow;
    text-align: center;
}

.art_head {
    margin: auto;
    text-align: center;
    border-top: 4px double green;
}

img {
    margin-left: 50px;
    margin-bottom: 20px;
    display: inline-block;
}

.info {
    display: inline-block;
    border: 8px solid green;
    vertical-align: top;
    width: 600px;
    margin-left: 30px;
}

h4 {
    margin-left: 25px;
    color: blue;
}

h2 {
    margin-top: -43px;
    text-align: center;
    border-bottom: 4px solid yellow;
    padding-bottom: 20px;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

h1 {
    color: red;
    font-family: 'Original Surfer', cursive;
}

.head3 {
    border-top: 4px double green;
    padding-top: 10px;
}

.make-comment {
    padding-top: 15px;
    padding-bottom: 43px;
}

textarea {
    width: 90%;
    margin-left: 26px;
    resize: none;
    border-radius: 30px;
    outline: none;
    padding-top: 2px;
    text-align: center;
}

button {
    text-align: center;
    margin-left: 37%;
    margin-top: 7px;
    padding: 3px;
    border-radius: 30px;
    width: 25%;
    background-color: black;
    color: white;
}

.comment-box {
    margin: auto;
    border: 2px solid yellow;
    width: 600px;
    text-align: center;
}

p {
    color: blue;
    font-style: italic;
}