* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    min-width: fit-content;
    min-height: 800px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

h1 {
    color: white;
}

h3 {
    color: white;
    font-family: 'Permanent Marker', cursive;
}

ul {
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding-top: 10px;
}

li {
    color: white;
    padding: 5px;
}

p {
    color: white;
}