ul#nav-list{
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding-top: 10px;
}

li{
    list-style: none;
    display: inline;
}
h1{
    text-align: center;
    color: white;
}
a{
    margin-right: 20px;
    font-size: x-large;
    color: white;
    margin-top: 10px;
}
li#nav{
    display: inline;
}
.li-caption{
    width: 300px;
}
.images{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    border: 2px solid white;
}
p{
    text-align: center;
}
img{
    border-radius: 20px;
}

.container {
    background-color: black;
}
