
#home_wrapper {
    border: 10px double yellow;
    background-color: black;
}

.a_links {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: green;
    color: yellow;
}

.home_h2 {
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 70px;
    color: green;
    font-family: 'Bangers', cursive;
    text-decoration: underline;
}

.uploadArt {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 350px;
    text-align: center;
    border: 2px solid yellow;
    padding: 25px;
    background-color: gray;
}

.artUpload_btn {
    width: 100%;
}

.caption {
    padding: 10px;
}

.home_h3 {
    font-family: 'Bangers', cursive;
    color: green;
}

.artwork {
    margin: auto;
    width: 800px;
    border: 3px solid yellow;
    padding: 50px;
    text-align: center;
    background-color: grey;
    
}

.anImage {
transition: transform .5s;
}

.anImage:hover {
    -ms-transform: scale(2.0);
    -webkit-transform:scale(2.0);
    transform:scale(2.0);
}