
#reg_container {
    margin: auto;
    background-color: black;
    background-size: cover;
    padding-bottom: 50px;
}

h1 {
    color: white;
    font-size: 75px;
    font-family: 'Original Surfer', cursive;
    text-shadow: 4px 10px gray;
    text-align: center;
    margin-bottom: 30px;
    margin-top: auto;
    padding-top: 35px;
    font-family: 'Original Surfer', cursive;
}

p {
    text-align: center;
    color: white;
}
.register-form {
    margin: auto;
    width: 275px;
    text-align: center;
}

input {
    border-radius: 30px;
    padding: 8px;
    margin: 5px;
}

.aFile {
    margin-left: 50px;
    border-radius: 30px;
    padding: 2px;
    font-style: italic;
    color: white;
}

.btn {
    width: 50%;
    margin-top: 8px;
    margin-bottom: 50px;
    padding: 2px;
    font-style: italic;
    background-color: black;
    color: white;
    border-radius: 15px;
}