ul.nav-links{
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
a{
    font-size: x-large;
    margin-right: 20px;
}
a#gallery{
    display: block;
    text-align: center;
    margin-left: 90px;
}
h1{
    text-align: center;
    margin-top: 80px;
}
p.qoute{
    margin-left: 400px;
}
p{
    text-align: center;
    width: 350px;
    display: inline;
}
div.user-info{
    border-bottom: black solid 3px;
    margin: 0px 200px 0px 200px;
}
div.comment-box{
    position: absolute;
    right: 0px;
    margin-right: 260px;
}
div.gallery{
    height: 50px;
    width: 100px;
    background-color: brown;
}
div.new-comment{
    width: 300px;
}
img{
    border-radius: 15px;
}
div.image-gallery{
    width: 600px;
    height: 245px;
    /* margin-left: 200px; */
    display: inline-block;
    margin-top: 150px;
    position: absolute;
    right: 0px;
}
div.best-image{
    margin-left: 230px;
}
h2{
    margin-top: 28px;
    margin-left: 245px;
}
h3.gallery{
    text-align: center;
    margin-right: 220px;
}
h3.best-images{
    font-size: x-large;
}
ul{
    display: inline-block;
    padding: 0px;
    /* margin: 100px 0px 0px 180px; */
}
li.image-forloop{
    display: inline-block;
    margin-bottom: 20px;
}