ul.nav-links{
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
a{
    font-size: x-large;
}
a#gallery{
    width: 590px;
    display: flex;
    justify-content: flex-end;
}
h1{
    text-align: center;
    margin-top: 80px;
}
p.qoute{
    margin-left: 250px;
}
p{
    text-align: center;
    width: 350px;
}
p.posted-comment{
    margin-right: 75px;
}
div.user-info{
    border-bottom: black solid 3px;
    margin: 0px 200px 0px 200px;
}
div.comment-box{
    display: flex;
    justify-content: flex-end;
    margin-right: 260px;
}
div.gallery{
    height: 50px;
    width: 100px;
    background-color: brown;
}
div.new-comment{
    width: 300px;
}
div.image-gallery{
    background-color: pink;
    width: 600px;
    height: 245px;
    margin-left: 75px;
    display: inline-block;
}
div.best-image{
    margin-left: 200px;
}
img.image-holder{
    margin-bottom: 129px;
}
h2{
    display: inline;
    margin-left: 245px;
}
li.image-forloop{
    display: inline-block;
}